﻿@font-face {
    font-family: 'TelefonicaExtraLight';
    src: url('/sites/B2BFinder.OCEWU/style library/b2b/fonts/Telefonica/ExtraLight/TelefonicaWeb-ExtraLight.eot');
    src: url('/sites/B2BFinder.OCEWU/style library/b2b/fonts/Telefonica/ExtraLight/TelefonicaWeb-ExtraLight.eot') format('embedded-opentype'), url('/sites/B2BFinder.OCEWU/style library/b2b/fonts/Telefonica/ExtraLight/Telefonica-ExtraLight.ttf') format('truetype'),url('/sites/B2BFinder.OCEWU/style library/b2b/fonts/Telefonica/ExtraLight/TelefonicaWeb-ExtraLight.woff') format('woff'), url('/sites/B2BFinder.OCEWU/style library/b2b/fonts/Telefonica/ExtraLight/TelefonicaWeb-ExtraLight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TelefonicaLight';
    src: url('/sites/B2BFinder.OCEWU/style library/b2b/fonts/Telefonica/Light/TelefonicaWeb-Light.eot');
    src: url('/sites/B2BFinder.OCEWU/style library/b2b/fonts/Telefonica/Light/TelefonicaWeb-Light.eot') format('embedded-opentype'), url('/sites/B2BFinder.OCEWU/style library/b2b/fonts/Telefonica/Light/Telefonica-Light.ttf') format('truetype'),url('/sites/B2BFinder.OCEWU/style library/b2b/fonts/Telefonica/Light/TelefonicaWeb-Light.woff') format('woff'), url('/sites/B2BFinder.OCEWU/style library/b2b/fonts/Telefonica/Light/TelefonicaWeb-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TelefonicaRegular';
    src: url('/sites/B2BFinder.OCEWU/style library/b2b/fonts/Telefonica/Regular/TelefonicaWeb-Regular.eot');
    src: url('/sites/B2BFinder.OCEWU/style library/b2b/fonts/Telefonica/Regular/TelefonicaWeb-Regular.eot') format('embedded-opentype'), url('/sites/B2BFinder.OCEWU/style library/b2b/fonts/Telefonica/Regular/Telefonica-Regular.ttf') format('truetype'),url('/sites/B2BFinder.OCEWU/style library/b2b/fonts/Telefonica/Regular/TelefonicaWeb-Regular.woff') format('woff'), url('/sites/B2BFinder.OCEWU/style library/b2b/fonts/Telefonica/Regular/TelefonicaWeb-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TelefonicaBold';
    src: url('/sites/B2BFinder.OCEWU/style library/b2b/fonts/Telefonica/Bold/TelefonicaWeb-Bold.eot');
    src: url('/sites/B2BFinder.OCEWU/style library/b2b/fonts/Telefonica/Bold/TelefonicaWeb-Bold.eot') format('embedded-opentype'), url('/sites/B2BFinder.OCEWU/style library/b2b/fonts/Telefonica/Bold/Telefonica-Bold.ttf') format('truetype'),url('/sites/B2BFinder.OCEWU/style library/b2b/fonts/Telefonica/Bold/TelefonicaWeb-Bold.woff') format('woff'), url('/sites/B2BFinder.OCEWU/style library/b2b/fonts/Telefonica/Bold/TelefonicaWeb-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.f-xlight {
    font-family: TelefonicaExtraLight !important;
}
.f-light{
    font-family: TelefonicaLight !important;
}
.f-regular{
    font-family: TelefonicaRegular !important;
}

.f-bold{
    font-family: TelefonicaBold !important;
}

.s-16{
    font-size: 16px;
}

.spinner-grow, .spinner-border {
    border-radius: 50% !important;
}

/*BOOTSTRAP MODAL*/
.fade.show {
    opacity: 1;
}

.modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-backdrop .fade .show {
    opacity: 0.5 !important;
}


.modal-backdrop.fade {
    opacity: 0.5 !important;
}

.hide{
    display:none;
}

.transfer {
    border: dashed 1px #666;
}

.circle {
    line-height: 1;
    border-radius: 50% !important;
    height: 24px;
    width: 24px;
}

.circle.blue {
    border: solid 1px #00c6d7;
}

/*CORRECCIÓN BOOTSTRAP*/
#ms-designer-ribbon * {
    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: unset;
}

#ms-designer-ribbon *:before, #ms-designer-ribbon *:after {
    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: unset;
}

#DeltaWebPartAdderUpdatePanelContainer{
    z-index: 999;
}

.container-fluid {
    padding: 0px;
}

#s4-workspace{
    overflow-x: hidden;
}

#s4-bodyContainer {
    padding: 0px !important;
}

#DeltaPlaceHolderMain{
    min-height:400px;
}

.tooltip-inner {
    max-width: 350px;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
    border-top-color: #00a5b7;
}

.bs-tooltip-auto[x-placement^=right] .arrow::before,
.bs-tooltip-right .arrow::before
{
    border-right-color: #00a5b7;
}
.bs-tooltip-auto[x-placement^=left] .arrow::before,
.bs-tooltip-left .arrow::before
{
    border-left-color: #00a5b7;
}
.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #00a5b7;
}

.tooltip-inner{
    text-align: left;
}

.tooltip-inner {
    background-color: #00a5b7;
}
/*FIN CORRECCIÓN BOOTSTRAP*/
/*ICONOS*/
.icon-doc {
    color: #980098;
}

.icon-pdf {
    color: #00A5B7;
}

.icon-ppt {
    color: #00A5B7;
}

.icon-xls {
    color: #FF6532;
}

.icon-file-zip{
    color: #005466;
}

.icon-file-picture{
    color: #006476;
}

.popover [class^="icon-"], [class*=" icon-"] {
    font-size: 24px;
    margin-right: 10px;
}
/*FIN ICONOS*/

* {
    border-radius: 0px !important;
    letter-spacing: 0.4pt;
}

body{
    font-family:TelefonicaRegular !important;
    color:#000;
    font-size:13px;
}

a, a:hover, a:link, a:visited, a:focus {
    color: #00c6d7;
    text-decoration: none;
}

#s4-workspace {
    background-color: #f8f8f8;
}

.full-width{
    width: 100% !important;
}

/*FUENTES*/
h1, h2, h3, h4, h5, h6 {
    font-family: TelefonicaExtraLight !important;
    color: #00c6d7 !important;
}

.fg-gray {
    color: #C2C2C8;
}

.fg-blue01{
    color: #00c6d7 !important;
}

.fg-blue07 {
    color: #006476 !important;
}

.fg-blue10 {
    color: #003245 !important;
}

.t-bold{
    font-family: TelefonicaBold !important;
}
 
/*FONDOS*/
.bg-white{
    background-color: #fff;
}

.bg-blue03 {
    background-color: #00a5b7;
    color: #fff !important;
}

.bg-blue03 a{
    color: #fff !important;
}

.bg-blue10 {
    background-color: #003245;
    color: #00ff98 !important;
}

.bg-blue10 a {
    color: #00ff98 !important;
}

/*BORDES*/
.br-blue01 {
    border-right: solid 1px #00C6D7;
}

.bl-blue01 {
    border-left: solid 1px #00C6D7;
}

/*POPOVER*/
.popover.custom .popover-body p, .popover.custom .popover-body input, .popover.custom .popover-body span {
    font-family: TelefonicaLight;
}

.popover-header {
    background-color: #fff;
    border-bottom: none;
    font-size: 24px;
    padding: 20px;
}

.popover-header [class^="icon-"], [class*=" icon-"] {
    font-size: 48px;
    position: relative;
    float: right;
    top: -10px;
}

.popover-body{
    padding:0px;
}

.popover-body [class^="icon-"], .popover-body [class*=" icon-"] {
    float: left;
}

.wizard .popover-body [class^="icon-"], .wizard .popover-body [class*=" icon-"] {
    float: none;
}

.popover-body {
    padding: 0px 20px 20px 20px;
}

.popover-body .list-group-item {
    padding: 5px 0px;
    border: none;
}

.popover .toolbar {
    text-transform: lowercase;
    padding: 0px 20px;
    height: 40px;
}

.popover .toolbar a,
.popover .toolbar a:hover,
.popover .toolbar a:visited,
.popover .toolbar a:focus {
    color: #00c6d7;
    margin-right: 10px;
    text-decoration: underline;
    font-family: TelefonicaRegular !important;
}

#favourites, #bookmarks {
    width: 250px;
}


/*BUTTONS*/
.btn-input-group {
    color: #000;
    background-color: #fff;
    border: 1px solid #ababab;
    border-left: none;
}

.btn {
    border-radius: 5px !important;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none !important;
    font-family: TelefonicaBold;
}

.btn-gray, .btn-gray:hover, .btn-gray:visited, .btn-gray:focus {
    color: #00c6d7 !important;
    background-color: #f4f4f5;
    border-color: #f4f4f5;
}

.btn-white, .btn-white:hover, .btn-white:visited, .btn-white:focus {
    color: #00c6d7 !important;
    background-color: #fff;
    border-color: #fff;
}

.btn-blue09, .btn-blue09:hover, .btn-blue09:visited, .btn-blue09:focus {
    color: #00ff98 !important;
    background-color: #003245;
    border-color: #003245;
}

/*FORM-CONTROLS*/

.form-control:focus {
    box-shadow: none;
    border-color: #ababab !important;
}

input[type=password]:focus, input[type=text]:focus, input:not([type]):focus, select:focus, textarea:focus, .sp-peoplepicker-topLevelFocus, .ms-inputBoxActive, .ms-inputBox.ms-inputBoxActive:hover {
    border-color: #ababab !important;
}

/*FLAGS*/
.flag {
    padding-left: 20px !important;
    background-repeat: no-repeat;
    background-position: left center;
}

.flag.es-es {
    background-image: url('/sites/B2BFinder.OCEWU/style library/b2b/images/spain.png');
}

.flag.uk {
    background-image: url('/sites/B2BFinder.OCEWU/style library/b2b/images/united-kingdom.png');
}

/*MAIN*/
#main #container {
    background-color: #fff;
}

/*HEADER*/
#header {
    background-color: #003245 !important;
}

.brand h2 {
    line-height: 72px;
    margin: 0px;
    font-size: 40px;
}

.navbar-toggler{
    color:#fff !important;
}

.navbar {
    background-color: #003245 !important;
    text-transform: capitalize;
    font-family: TelefonicaRegular;
    padding: 0px;
    padding-left: 20px;
    line-height: 25px;
}

.nav-item .dropdown-menu{
    padding-left:10px;
}

#header .logo {
    line-height: 60px;
}

.logo {
    text-align: center;
    background-color: #003245;
}

.logo img{
    width: 140px;
}

.navbar-nav{
    margin-right:20px;
}

.navbar-nav .nav-link {
    color: #fff !important;
    font-family: TelefonicaRegular;
    text-transform: uppercase;
}

.navbar-nav .nav-link [class^="icon-"], [class*=" icon-"] {
    font-size: 20px;
}

.navbar-nav .nav-link [data-key] {
    position: relative;
    top: -5px;
}

.navbar-nav .nav-link i{
    margin-right: 5px;
}

#languageBar {
    text-transform: uppercase;
}

#currentLanguage{
    font-family: TelefonicaBold;
}

#search-div {
    padding: 20px 10px;
    text-align: center;
    background-color: #00c6d7 !important;
}

#search-div h1{
    color:#fff !important;
    font-size: 60px;
    margin-bottom: 40px;
}

#home #search-div {
    height: 250px;
    padding: 0px 20px;
}

#search-controls-div {
    background-color: #fff;
    height: 70px;
    border-radius: 100px !important;
    padding: 0px 12px;
}

#liSearch {
    padding-left: 10px;
    text-align: right;
    width: 350px;
    position: relative;
}

#txtSearch {
    width: 80%;
    height: 58px;
    float: left;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 3px;
    border: none !important;
    color: #00c6d7 !important;
    font-size: 20px;
}

#txtSearch, #txtSearch:focus {
    border: none !important;
}

#btnSearch {
    font-size: 30px;
    position: relative;
    top: 15px;
}

#searchDropDown {
    top: 40px;
    width: 300px;
    z-index: 999;
    position: absolute;
    display: none;
    text-align: left;
}

/*CONTENT*/
#content {
    padding: 40px 0px;
}

/*MODULOS*/
.module .module-title {
    color: #00c6d7;
}

/*CARD BUTTONS*/

.btn.btn-white:hover {
    color: #00ff98 !important;
    background-color: #003245;
    border-color: #003245;
}

/*FIN CARD BUTTONS*/

/*CARDS*/
.card {
    background-color: #f4f4f5;
    border: none;
    position: relative;
    margin-bottom: 20px;
    min-height: 335px;
}

.card.white {
    border: solid 1px #eee;
    background-color: #fff;
    min-height: 295px;
}

.card .card-header {
    height: 100px;
    background-color: #f4f4f5;
    border: none;
}

.card .card-header h5 a, .card .card-header h5 a:hover, .card .card-header h5 a:visited {
    font-size: 1rem;
    color: #008597;
    font-family: TelefonicaBold;
}

.card .card-image {
    height: 150px;
    background-size: cover !important;
}

.card .toolbar {
    position: absolute;
    height: 50px;
    width: 100%;
    width: 100%;
    left: 0px;
    padding: 0px 10px;
    border-top: solid 1px #fff;
    line-height: 70px;
}

.card .toolbar .icons{
    line-height: 80px;
}

a.card-link [class^="icon-"], [class*=" icon-"], .card .toolbar i{
    font-size: 16px
}

.card .toolbar .btn {
    font-family: TelefonicaBold;
    text-transform: uppercase;
}

.card-link, .card-link:hover, .card-link:visited, .card-link:focus {
    color: #00B6C7;
}

.card-link+ .card-link{
    margin-left:0.5rem;
}

.card .doc-type {
    padding-top: 5px;
}

.card .doc-type span, .card .doc-type i {
    font-size: 40px;
}

.card-info div {
    float: left;
}

.card-info div:first-child {
    padding: 0px 10px 0px 0px;
}

.card-info div:not(:first-child) {
    padding: 0px 10px;
    border-left: solid 1px #00c6d7;
}

.card-info div:not(:last-child) {
    color: #00c6d7;
}

.card-text{
    min-height:84px;
}

.doc-use {
    color: #00c6d7;
    text-transform: uppercase;
}

.card-title {
    word-break:break-word;
}
/*FAVORITOS*/
#favouritesTable span[class^="icon-"], #favouritesTable span[class*=" icon-"], #favouritesTable i {
    font-size: 24px;
}

#favouritesTable td.last span[class^="icon-"], #favouritesTable td.last span[class*=" icon-"] {
    font-size: 13px;
}

#favouritesTable a i {
    font-size: 13px;
}

#favouritesTable td.last {
    text-align:right;
}

#favouritesTable td.last a{
    margin-left:10px;
}

/*BOOKMARKS*/
#bookmarksTable span[class^="icon-"], #bookmarksTable span[class*=" icon-"], #favouritesTable i {
    font-size: 24px;
}

#bookmarksTable td.last span[class^="icon-"], #bookmarksTable td.last span[class*=" icon-"] {
    font-size: 13px;
}

#bookmarksTable a i {
    font-size: 13px;
}

#bookmarksTable td.last {
    text-align: right;
}

#bookmarksTable td.last a {
    margin-left: 10px;
}

/*SHARE*/
.popover.share {
    min-width: 400px !important;
}

/*HOME*/
#home .module-title {
    font-size: 40px;
    line-height: 0.9;
}

#home .module .view-all, #home .module .view-all:hover, #home .module .view-all:visited, #home .module .view-all:focus {
    color: #333;
    font-family: TelefonicaRegular;
    border-right: solid 1px #333;
}

#home .carousel{
    display:none;
    margin-bottom: 40px;
}

#home .carousel-item {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center !important;
}

#home .carousel-caption {
    background-color: #007486;
    width: 451px;
    bottom: 0;
    height: 262px;
    text-align: left;
    padding: 60px;
    border-top-right-radius: 35% !important;
    overflow:hidden;
    left: 115px;
}

#home .carousel-caption h3 {
    font-family: TelefonicaRegular;
    color: #fff;
}

#home .carousel-caption p {
    font-family: TelefonicaLight;
    font-size: 14px;
}

#home .carousel-caption button {
    position: absolute;
    bottom: 10px;
}

/*NUEVO DOCUMENTO*/

#btnSelectFile, #btnAddLink{
    width: 245px;
}

#btnSelectFile {
    float:left;
}

#btnAddLink {
    float:right;
}

#drop-file p {
    font-size: 30px;
}

#drag-div {
    border: solid 1px #ccc;
    text-align: center;
}

#drag-div.hover {
    border: solid 1px #003245;
}

#drag-div.uploading {
    border: solid 1px #00c6d7;
}

div.datepicker{
    font-family: TelefonicaExtraLight;
    font-size: 12px;
}

.datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover {
    background-color: #003245 !important;
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled] {
    background-color: #00c6d7 !important;
}

.modal-title{
    margin-left: 0px !important;
}

.file-info-title {
    font-size: 30px;
    width: 100%;
}

.file-info-container {
    position: relative;
    border: solid 1px #ccc;
    height: 140px;
    margin: 10px 0px;
}

.file-info-container>span {
    font-size: 100px;
}


.file-info-caption {
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    height: 55px;
    bottom: 0px;
    padding: 10px;
    left: 0;
    width: 100%;
}

.file-info-caption p{
    font-size: 13px;
    text-align: left;
    margin: 0px;
}
/*
    FOOTER
*/
#footer {
    background-color: #003245;
    line-height: 46px;
    color: #fff;
    margin-top: 40px;
}

#footer div{
    text-align: center;
}

#footer .copyright {
    font-family: TelefonicaLight;
    color: #00C6D7;
}

#footer .social a {
    font-size: 24px;
    margin-left: 10px;
    color: #fff;
}


/*PAGE*/
#page-header {
    height: 100px;
    position: relative;
    margin-bottom: 40px;
    background-color: #f5f5f5;
}

#page-title h2 {
    font-size: 24px;
    line-height: 100px;
}

#page-title.reverse h2 {
    font-size: 26px;
    text-transform: none;
}

#page-image img {
    width: 100%;
}

#page-image {
    max-width: 150px;
    line-height: 100px;
}

#page-caption {
    font-size: 16px;
    display:none;
}

#page-caption.reverse {
    font-size: 60px;
    color: #00c6d7;
    font-family: TelefonicaLight;
    text-transform:uppercase;
}

/*BÚSQUEDA*/
#ResultHeader{
    text-align: right;
    margin-bottom: 40px;
}

#SortbySel {
    height: 40px;
    width: 300px;
}

.ref-header {
    background-color: #00b6c7;
    padding: 10px;
    color: #fff;
    clear:both;
}

.ms-ref-selSec, .ms-ref-unselSec{
    padding: 0px 10px;
}
.ms-ref-refinername:link, .ms-ref-refinername:visited, .ms-ref-refinername:hover, .ms-ref-refinername:focus {
    background-color: #00b6c7;
    color: #fff;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    width: 100%;
}

.ms-ref-name {
    color: #006476;
    font-size: 13px;
}

.doc-results .doc-type {
    font-size: 40px;
    padding: 30px 10px;
    text-align: center;
}

.doc-results .result {
    background-color: #eee;
    line-height: 1;
    margin-bottom: 20px;
}

.doc-results .doc-title {
    padding-top: 10px;
}

.doc-results .doc-title a {
    font-size: 1rem;
    font-weight: bold;
    color: #003245;
    font-family: TelefonicaRegular;
}

.doc-results .doc-info div {
    float: left;
}

.doc-results .doc-info div:first-child {
    padding: 0px 10px 0px 0px;
}

.doc-results .doc-info div:not(:first-child) {
    padding: 0px 10px;
    border-left: solid 1px #00c6d7;
}

.doc-results .doc-info div:not(:last-child) {
    color: #00c6d7;
}

.doc-results .toolbar {
    padding: 10px 0px 0px 40px;
}

.doc-results .toolbar > div{
    margin-bottom: 20px;
}

#ResultCount {
    text-align: center;
    font-family: TelefonicaRegular;
    color: #00C6D7;
    font-size: 16px;
    margin-bottom: 20px;
}

#pagination {
    text-align: center;
}

#pagination nav{
    display: inline-block;
    font-family: TelefonicaRegular;
    font-size: 16px;
}

.page-link, .page-link:hover, .page-link:visited, .page-link:focus {
    border: none;
    color: #00C6D7 !important;
    text-decoration: underline !important;
}

#PagingSelf{
    font-family: TelefonicaBold;
}

#PagingImageLink a{
    text-decoration: none !important;
}

.ms-srch-result-didYouMean {
    font-size: 20px;
    font-family: TelefonicaLight;
}

#search-results-zone{
    z-index: 0;
}

#refiner-zone.on {
    display: block;
    position: fixed;
    z-index: 1;
    background-color: #fff;
}

/*HOVER PANEL*/
.hover-panel {
    max-width: 400px;
    width: 400px;
}

.hover-panel .popover-body{
    padding: 0px;
}


.hover-panel #doc-title-container h5 {
    padding: 20px;
    margin: 0px;
}

.hover-panel #doc-title-container h5 a, .hover-panel #doc-title-container h5 a:visited, .hover-panel #doc-title-container h5 a:hover, .hover-panel #doc-title-container h5 a:focus {
    color: #008597;
    font-family: TelefonicaBold;
}

.hover-panel #doc-title-right-container {
    padding-top: 10px;
}

.hover-panel #doc-title-right-container *{
    font-family:TelefonicaLight;
}

.hover-panel #doc-title-right-container span {
    padding: 0px 5px;
}

.hover-panel #doc-title-right-container span.fg-gray {
    border-right: solid 1px #00C6D7;
}

.hover-panel #doc-author-container {
    background-color: #F4F4F5;
    margin-right:0px;
    margin-left: 0px;
}

.hover-panel #doc-author-container #author-picture {
    height: 100px;
}

.hover-panel #doc-author-container .author-name {
    font-family: TelefonicaBold;
    color: #00C6D7;
    margin-top: 10px;
    margin-bottom:0px;
}

.hover-panel #doc-author-container #author-title {
    font-family: TelefonicaRegular;
    color: #00C6D7;
}

.hover-panel #doc-description-container {
    padding: 10px 20px;
    font-family: TelefonicaRegular;
}

.hover-panel #doc-related-container {
    border-top: solid 2px #C2C2C8;
    margin: 0px;
    padding: 10px;
}

.hover-panel #doc-related-container * {
    font-family: TelefonicaLight;
}

.hover-panel #doc-related-container p {
    margin-left: 10px;
    margin-top: 20px;
    text-transform: uppercase;
}

.hover-panel #doc-related-container .list-group li a, .hover-panel #doc-related-container .list-group li a:hover, .hover-panel #doc-related-container .list-group li a:visited, .hover-panel #doc-related-container .list-group li a:focus {
    color: #006476;
}

.hover-panel #toolbar {
    margin: 0px;
    padding: 20px 10px;
    border-top: solid 2px #C2C2C8;
}

/*INFORMACIÓN DOCUMENTO*/
#doc-info-header {
    height: 400px;
    background-size:cover;
}

#document-info-page #doc-title {
    background-color: #003245;
    opacity: 0.8;
    padding: 20px;
    font-family: TelefonicaRegular;
    color: #fff;
    font-size: 36px;
    word-break: break-all;
    border-top-right-radius: 35% !important;
    height: 300px;
    margin-top: 100px;
}

#document-info-page #buttons div{
    max-height: 150px;
}

#author-info {
    height: 150px;
    background-color: #F4F4F5;
}

#author-image {
    background-size: contain !important;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat !important;
    float: left;
}

.author-name {
    font-family: TelefonicaRegular;
    font-size: 30px;
    color: #00C6D7;
}

#author-job-title {
    color: #00C6D7;
    font-size: 18px;
    font-style: italic;
}

#author-mail, #author-workphone {
    color: #003245;
    font-family: TelefonicaExtraLight;
    font-size: 16px;
}

#author-profile {
    font-size: 16px;
    color: #003245;
}

#doc-info {
    background-color: #F4F4F5;
    height: 150px;
}

#doc-info p{
    margin:0px;
}

.doc-info-buttons{
    height: 150px;
}

.doc-info-buttons a {
    display: block;
    text-align: center;
    height: 150px;
    position:relative;
    width:100%;
}

.doc-info-buttons a img {
    position: relative;
    top: 50px;
}

.doc-info-buttons a p {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 78%;
    text-transform: uppercase;
    font-size: 13px;
}

#btnHistory {
    background: url('/sites/B2BFinder.OCEWU/style library/b2b/images/history.png') no-repeat center;
}

#btnDownload {
    background: url('/sites/B2BFinder.OCEWU/style library/b2b/images/downloadw.png') no-repeat center;
}

#btnEditDocument {
    background: url('/sites/B2BFinder.OCEWU/style library/b2b/images/edit.png') no-repeat center;
}

#btnViewDocument {
    background: url('/sites/B2BFinder.OCEWU/style library/b2b/images/view.png') no-repeat center;
}

.doc-info-buttons:hover {
    background-color: #003245;
}

.doc-info-buttons:hover a {
    color: #00ff98;
}

#document-info-page #buttons .disabled .doc-info-buttons:hover a {
    color: #fff;
    cursor: not-allowed;
}

.doc-info-buttons:hover #btnDownload {
    background-image: url('/sites/B2BFinder.OCEWU/style library/b2b/images/downloadg.png');
}

.doc-info-buttons:hover #btnHistory {
    background-image: url('/sites/B2BFinder.OCEWU/style library/b2b/images/historyg.png');
}

.doc-info-buttons:hover #btnEditDocument {
    background-image: url('/sites/B2BFinder.OCEWU/style library/b2b/images/editg.png');
}

.doc-info-buttons:hover #btnViewDocument {
    background-image: url('/sites/B2BFinder.OCEWU/style library/b2b/images/viewg.png');
}

#document-info-page #buttons .disabled .doc-info-buttons {
    background-color: #ececec;
}

#document-info-page #buttons .disabled .doc-info-buttons:hover #btnViewDocument, #document-info-page #buttons .disabled .doc-info-buttons:hover #btnViewDocument:hover {
    background: url('/sites/B2BFinder.OCEWU/style library/b2b/images/view.png') no-repeat center;
    color: #fff;
}

#document-info-page #buttons .disabled .doc-info-buttons:hover #btnEditDocument, #document-info-page #buttons .disabled .doc-info-buttons:hover #btnEditDocument:hover {
    background: url('/sites/B2BFinder.OCEWU/style library/b2b/images/edit.png') no-repeat center;
    color: #fff;
}

#document-info-page #buttons .disabled .doc-info-buttons:hover #btnHistory, #document-info-page #buttons .disabled .doc-info-buttons:hover #btnHistory:hover {
    background: url('/sites/B2BFinder.OCEWU/style library/b2b/images/history.png') no-repeat center;
    color: #fff;
}

#document-info-page #buttons .disabled .doc-info-buttons:hover #btnDownload, #document-info-page #buttons .disabled .doc-info-buttons:hover #btnDownload:hover {
    background: url('/sites/B2BFinder.OCEWU/style library/b2b/images/downloadw.png') no-repeat center;
    color: #fff;
}

#documentByContentType h2 {
    width: 100%;
}

#documentByContentType .list-group-item, #documentsByUser .list-group-item {
    border: none;
}

#documentByContentType [class^="icon-"], #documentByContentType [class*=" icon-"] {
    font-size:32px;
}

#documentByContentType a {
    line-height: 64px;
    display: inline-block;
    position: relative;
    top: -8px;
    margin-left: 10px;
}

#doc-product {
    font-family: TelefonicaBold;
}

#doc-toolbar {
    border-bottom: solid 4px #00C6D7;
}

#doc-description{
    font-family: TelefonicaExtraLight;
    font-size: 16px;
}

#changeView a{
    margin-left: 10px;
}

.list-container {
    display: none;
}

#search-page .list-container{
    display:block;
}

#refiner-zone{
    display:none;
}

#anchorWizard {
    display: none;
}

#faq {
    color: #fff;
    font-family: TelefonicaBold;
    font-size: 24px;
    line-height: 40px;
    border-right: solid 1px #fff;
    padding: 0px 10px;
}

#welcomeModal p {
    font-size: 20px;
    font-family: TelefonicaExtraLight;
    text-align: center;
}

#welcomeModal h2 {
    margin: 20px 0px;
    font-size: 80px;
    text-align:center;
}

.popover.wizard{
    max-width:350px;
}

.wizard-step {
    -webkit-box-shadow: 0px 0px 20px -2px rgba(0,198,215,1);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0,198,215,1);
    box-shadow: 0px 0px 20px -2px rgba(0,198,215,1);
}

.flip-card {
    background-color: transparent;
    width: 220px;
    height: 220px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 10px;
    cursor: pointer;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #00A5B7;
    color: #fff;
}

.flip-card-front img{
    max-width: 50px;
    margin:30px;
}

.flip-card-front h3 {
    color:#fff !important;
    font-size: 20px;
}
/* Style the back side */
.flip-card-back {
    background-color: #003245;
    color: #fff;
    transform: rotateY(180deg);
    padding: 10px;
}

.flip-card-back h3 {
    color: #fff !important;
    font-size: 20px;
}

.admin-card {
    background-color: #00a5b7;
    text-align: center;
    padding: 50px;
}

.admin-card h3 {
    color: #fff !important;
}

.admin-card img{
    height:150px;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip span {
    display:block;
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
}

.ms-ref-refiner #Value, .ms-ref-unsel-toggle, #OtherValue, #SubmitValue{
    width:100%;
}

#btnList, #btnCard{
    font-size: 16px;
}

.ms-ref-count {
    float: right;
}

/*REFINADORES*/
.refiner{
    margin-bottom: 20px;
    clear:both;
}

.refiner .ref-header{
    margin-bottom: 10px;
}

/* Customize the label (the container) */
.check-container {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 0px;
    height: 13px;
    width: 13px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
    background-color: #00b6c7;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.doc-type-image{
    cursor:pointer;
}

.image-selector {
    background-color: rgba(0, 182, 199, 0.7);
    position: absolute;
    width: 100%;
    top: 100px;
    bottom: 0;
    opacity: 0;
    color: #fff;
    text-align: center;
    padding-top: 30px;
}

.image-selector.check {
    background-image: url('https://telefonicacorp.sharepoint.com/sites/B2BFinder.OCEWU/Style%20Library/B2B/images/checkmark2.png');
    background-repeat:no-repeat;
    background-position:center;
    top:0;
    opacity:1;
}

/*MEDIA*/
@media (min-width: 800px) {
    /*BUSCADOR*/
    #search-div {
        padding: 30px 120px;
    }

    #home #search-div {
        height: 450px;
        padding: 80px 150px;
    }

    #home .carousel {
        display: block;
    }

    #content {
        padding:60px;
    }

    .doc-results .toolbar {
        padding: 10px 0px 0px 0px;
    }

    #footer {
        height: 102px;
        line-height: 96px;
    }

    #anchorWizard {
        display:block;
        font-size: 20px;
        border-right: solid 1px #fff;
        padding: 0px 10px;
        height: 30px;
        display: block;
        margin-top: 5px;
        color: #fff;
    }

    .logo img {
        width: 255px;
    }

    #liSearch {
        border-left: solid 1px #00c6d7;
        width:auto;
    }

    #txtSearch {
        width: 90%;
        font-size: 36px;
    }

    .result .doc-enablers {
        margin-top: 10px;
    }

    #page-header {
        height: 200px;
        line-height: 200px;
    }

    #page-title h2 {
        font-size: 60px;
        line-height: 200px;
    }

    #page-image {
        line-height: 200px;
    }

    #page-caption.reverse{
        top: 40%;
    }

    #document-info-page #doc-title {
        padding: 40px;
    }

    #drag-div {
        padding: 100px;
    }

    #btnSelectFile, #btnAddLink {
        float: none;
    }

    #refiner-zone {
        display: block;
    }

    .refiner-collapse{
        display:none;
    }
}